PORT = 4040
CORS_ORIGIN = http://localhost:5000/api

RABBITMQ_TOPIC_EXCHANGE = bda_topic_exchange
RABBIT_MQ_URL = amqp://guest:guest@localhost:5672/

MONOGODB_URI = mongodb+srv://arshdevrajput_db_user:f6DUTps8Y43xq6f7@user.lsxpny2.mongodb.net/bda-users?appName=user

R2_ACCESS_KEY_ID=3e91391ada423e80238355627ab8aa2f
R2_SECRET_ACCESS_KEY=374f2b5367f98339f752d27c6d7349abdbed04d9d24538aee1b886929c731a3c
R2_ENDPOINT=https://ade0b8e2e55ec1443403478681e6d691.r2.cloudflarestorage.com
R2_BUCKET_NAME=blind-dating-assets
R2_PUBLIC_URL=https://pub-3e79fa618c9842b6b4959dbf5975489e.r2.dev  # Get this from Bucket Settings -> Public Access

R2_TOKEN_VALUE=VDjl2AaCGBTDjiI38fWtNVemsXy5ENE6k3781WqM