PORT = 5050
CORS_ORIGIN=http://localhost:5000/api,http://localhost:3000

RABBITMQ_TOPIC_EXCHANGE = bda_topic_exchange
RABBIT_MQ_URL = amqp://guest:guest@localhost:5672/

JWT_SECRET=M4CWtoYVyV7wKmYudBZvd0nuN0T4XaGOeoxlXrUODjg=
JWT_EXPIRES_IN=24h

MONOGODB_URI = mongodb+srv://arshdevrajput_db_user:f6DUTps8Y43xq6f7@user.lsxpny2.mongodb.net/bda-chats?appName=user

CHAT_ENC_KEY_B64 = jFu94EVPMrodkWcVq/yTExWbVr+LoTZjFNGqio3JcX4=